body {
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }
            .topnav {
                overflow: hidden;
                background-color: black;
            }
            .topnav a {
                float: left;
                color: green;
                text-align: center;
                padding: 14px 16px;
                text-decoration: dotted;
                font-size: 17px;
            }
            .topnav a:hover {
                background-color: lightgrey;
                color: black;
            }
            .topnav a.active {
                background-color: yellow;
                color: black;
            }
.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
.pimg1{
    background-image:url("spoon\ 2.jfif");
    min-height:100%;
    min-width: 100%;
}
.pimg2{
    background-image:url("spoon\ 1.jfif");
    min-height:400px;
    min-width: 400px;
}
.pimg3{
    background-image:url("spoon.jfif");
    min-height:400px;
    min-width: 400px;
}
.section{
    text-align: center;
    padding: 50px 80px;
}
.section-light{
    background-color: beige;
    color: cornflowerblue;
}
.section-dark{
    background-color: blueviolet;
    color: lightgray;
}
.ptext{
    position:absolute;
    top: 50%;
    width: 100%;
    text-align:center;
    color: black;
    font-size: 27px;
    letter-spacing:8px;
    text-transform:uppercase;
}
.ptext.border{
    background-color:black;
    color: white;
    padding:20px;
}
.ptext.border.trans{
        background-color:transparent;
}
@media(max-width:50px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
}